<style>
			/* Column container */
			.row {  
				display: -ms-flexbox; /* IE10 */
				display: flex;
				-ms-flex-wrap: wrap; /* IE10 */
				flex-wrap: wrap;
			}
		  
            ul {
                list-style-type: none;
                font-family: Arial;
                background-color: Black;
                color: White;
                overflow: hidden;
            }

            li {
                float: Left;
            }

            li a {
                display: block;
                padding: 14px 16px;
                color: White;
                font-family: Arial;
                background-color: Black;
                text-decoration: none;
            }

            li a:hover {
                background-color: Grey;
                color: Skyblue;
            }
        </style>